@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
.contacos
{
    width:500px;
    height:248px;
    background:rgba(8, 8, 8, 0.603);
    margin: auto;
}

.ptwitter
{
    font-size: 24px;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    float: right;
    margin-right: 202px;
}
.atwitter
{
    float: right;
    margin-right: 63px;
    margin-top: -56px;
    font-size: 37px;
    color: blue; 
}

.pfacebook{
    font-size: 24px;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    float: right;
    margin-right: 163px;
    margin-top:1px;
}

.afacebook
{
    float: right;
    margin-right: 75px;
    margin-top: -61px;
    font-size: 37px;
    color: blue; 
}

.pwhatsapp
{   font-size: 24px;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    float: right;
    margin-right: 171px;
    margin-top: 1px;
}

.awhatsapp
{
    float: right;
    margin-right: 63px;
    margin-top: -61px;
    font-size: 37px;
    color: blue; 
}

.pemail
{   
    font-size: 24px;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    float: right;
    margin-right: 219px;
    margin-top: 1px;
}

.aemail
{
    float: right;
    margin-right: 63px;
    margin-top: -64px;
    font-size: 37px;
    color: blue; 
}

a .icon:hover
{
color:cornsilk;
}