.cristalino
{
    border-radius:20px;
    height:541px;
width: 405px;
/*background:rgba(4, 152, 238, 0.445);*/
background:rgba(174, 107, 31, 0.623);
float:left;
margin-left: 10px;
margin-top: 50px;
}

.cristalino ul li
{
    list-style: none;
    color: #fff;
    margin-left: -35px;
    margin-top: 12px;
}


.cristalino2
{
    border-radius:20px;
    height:541px;
    width: 405px;
      background:rgba(174, 107, 31, 0.623);
float:left;
margin-left: 29px;
margin-top: 50px;
}

.cristalino2 ul li
{
    list-style: none;
    color: #fff;
    margin-left: -35px;
    margin-top: 12px;
}

.cristalino3
{
    border-radius:20px;
    height:541px;
    width: 405px;
      background:rgba(174, 107, 31, 0.623);
float:right;
margin-right: 25px;
margin-top: 50px;
}

.cristalino3 ul li
{
    list-style:none;
    margin-left: -30px;
    color:#fff;
    margin-top: 12px;
}

.maritimoinfo
{
    height: 233px;
    overflow-y: auto;
  
    width: 405px;
    margin-top: -23px;;
}

.consi
{
    margin-left: 12px;
    color:#fff;
}

.imagenaboutus
{ 
    height: 37vh;
    width: 64vh;
   
    margin-top: -15px;
    border-radius: 10px;
}

.titulo{
    
  
    margin-top: 2px;
    float: right;
    margin-right: 3px;
    width: 98%;
    height: 20px;
    border-radius: 7px;

   

}

.titulo:hover{
    background:rgba(24, 55, 230, 0.644);
}

.title{
    font-size:20px;
    color:white;
    margin-right: 129px;
    float: right;
}

.texto{
color:white;
font-size:20px;
}


.infoservi
{
    width: 686px;
    height: 204px;
    background: rgba(174, 107, 31, 0.623);
    margin-top: 48px;
    margin-left: 332px;

    border-radius: 15px;
}

.tituinfoservi
{
color: #fff;
font-size: 26px;
    margin-left: 297px;
}

.infoservi ul li
{
    list-style:none;
    color:cornsilk;

}

.infoservi p
{
     color: #fff;
}



.mas
{
    height: auto;
    width: 837px;
    margin-top: 20px;
    background: brown;
    margin-left: 258px;
    float: left
}

.compras
{
    height: 100px;
    width: 201px;
    background: red;
    color: #fff;
    font-size: 20px;
}

.mudanzasdiv
{
    height: auto;
    width: 333px;
    margin-top: -119px;
    margin-left: 301px;
    background: blue;
    color: #fff;
   
}
.pmud 
{
    color:#fff;
    font-size: 20px;
}
.mudanzainfo 
{
font-size:18px;
}


.tarea
{
    height: 100px;
    width: 100px;
    float: right;
    margin-right: 1px;
    margin-top: -122px;
    background: black;
}

.ebay
{
    float:left;
    width: 120px;
    height: 53px;
}

.amazon
{
    float:right;
    width: 120px;
    height: 53px;
    
}

.alibaba
{
    float:left;
    width: 120px;
    height: 53px;

}

.alie
{
    float: right;
    width: 120px;
    height: 53px;
}

.marcas{
    width:100px;
    height:100px;
    background:white;
    overflow-y:scroll;
}