.cristalino
{
    border-radius:20px;
height:500px;
width: 405px;
background:rgba(4, 152, 238, 0.445);
float:left;
margin-left: 10px;
margin-top: 50px;
}
.cristalino2
{
    border-radius:20px;
    height:500px;
    width: 400px;
background:rgba(4, 152, 238, 0.445);
float:left;
margin-left: 29px;
margin-top: 50px;
}
.cristalino3
{
    border-radius:20px;
    height:500px;
    width: 400px;
background:rgba(4, 152, 238, 0.445);
float:right;
margin-right: 25px;
margin-top: 50px;
}
.imagenaboutus
{ 
    height: 37vh;
    width: 64vh;
   
    margin-top: -15px;
    border-radius: 10px;
}

.titulo{
    
  
    margin-top: 2px;
    float: right;
    margin-right: 3px;
    width: 98%;
    height: 20px;
    border-radius: 7px;

   

}

.titulo:hover{
    background:rgba(24, 55, 230, 0.644);
}

.title{
    font-size:20px;
    color:white;
    margin-right: 129px;
    float: right;
}

.texto{
color:white;
font-size:20px;
}