

html
{
/*color:#74CFF1;*/
padding:0;
margin:0;
   
background-image: url('../img/panama.jpg');
background-repeat: no-repeat;
background-size: cover;

}


.footer
{
 
    width:1330px;
    height:45px;
    background:rgba(8, 8, 8, 0.822);
    margin-top:700px;
}

.textofoot1
{
    font-size:20px;
    color:white;
}

.textofoot2
{
    margin-top:-45px;
    float:right;
    font-size: 20px;
    color:white;
}

.informacioninicio
{
    height: 511px;
    width: 1074px;
    background: red;
    float: left;
    margin-left: 58px;
}

.paiseslista li
{
    list-style:none;
}