

html
{
/*color:#74CFF1;*/
padding:0;
margin:0;
   
background-image: url('../img/panama.jpg');
background-repeat: no-repeat;
background-size: cover;

}


.footer
{
 
    width:1330px;
    height:45px;
    background:rgba(8, 8, 8, 0.822);
    margin-top:700px;
}

.textofoot1
{
    font-size:20px;
    color:white;
}

.textofoot2
{
    margin-top:-45px;
    float:right;
    font-size: 20px;
    color:white;
}

.infop
{
    background: rgba(174, 107, 31, 0.623);
    margin-top: 25px;
    height: 25em;
    width: 69em;
    float: left;
    border-radius: 11px;
    margin-left: 146px;
    /* margin: 0 auto; */
    /* display: block; */
    overflow: auto;
    color: #fff;
   
}


.infop p
{
font-size: 15px;
color: #fff;
word-break: break-all;
}
.infop ul li
{
font-size: 15px;
color: #fff;
word-wrap: break-word;
}
.paiseslista li
{
    list-style:none;
}