

html
{
/*color:#74CFF1;*/
padding:0;
margin:0;
   
background-image: url('../img/panama.jpg');
background-repeat: no-repeat;
background-size: cover;

}


.footer
{
 
    width:1330px;
    height:100px;
    background:rgba(4, 152, 238, 0.445);
    margin-top:700px;
}

.textofoot1
{
    font-size:20px;
    color:white;
}

.textofoot2
{
    font-size: 20px;
    color:white;
}

